<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     <servlet>
        <servlet-name>servletCargarDatos</servlet-name>
        <servlet-class>modelo.dao.servletCargarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarDatosProvincias</servlet-name>
        <servlet-class>modelo.dao.cargarDatosProvincias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarDatosCantones</servlet-name>
        <servlet-class>modelo.dao.cargarDatosCantones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargarDatosDistritos</servlet-name>
        <servlet-class>modelo.dao.cargarDatosDistritos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletCargarDatos</servlet-name>
        <url-pattern>/servletCargarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarDatosProvincias</servlet-name>
        <url-pattern>/cargarDatosProvincias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarDatosCantones</servlet-name>
        <url-pattern>/cargarDatosCantones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargarDatosDistritos</servlet-name>
        <url-pattern>/cargarDatosDistritos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
